<div class="recent-book-sec container" style="margin-top: 20px;">
    <div class="row">
        <% @books.each do |book| %>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="item">
                    <a href=<%= book_path(book.id) %>>
                        <%= image_tag(book.photos.first.url, alt: 'img', style:'height:260px; width:170px') %>
                    </a>
                    <h3><a href=<%= book_path(book.id) %>>
                        <%= book.name.titleize %>
                    </a></h3>
                    <h6><span class="price"><%= book.price %></span> / <a href=<%= book_path(book.id) %>>Buy Now</a></h6>
                </div>
            </div>
        <% end %>
    </div>
</div>
