<div class="container">
  <h1>Products Cart</h1>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Books</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.book.name %></td>
      <td><%= image_tag(order_item.book.photos.first.url(:thumb)) %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.total_price %></td>
    </tr>
    <% end %>
    <tr>
      <td>Total Price</td>
      <td colspan="3" style="text-align: right;"><%= @total %></td>
    </tr>
  </tbody>
</table>
</div>
